:host {
  width: 140px;
  height: 140px;
  background: #F90;
  border-radius: 10px;
  cursor: move;
  display: block;
}

:host.is-pointer-down {
  background: #09F;
}

:host.is-dragging { opacity: 0.7; }